<!-- not to be used as directive -->
<!--<div class="ui top attached stackable tabular menu">-->
<!--<div class="ui five item stackable tabular menu">-->
<!--<div class="ui top attached stackable tabular menu">-->
<!--<div class="ui five item top attached stackable tabular menu">-->
<div class="ui four item top attached stackable tabular menu">
<!--<div class="ui four item top attached stackable tabs menu">-->
    <!--<div class="ui five item top attached stackable tabs menu">-->

    <a class="item" ui-sref-active="active" data-tab="home" ui-sref="home">xEURO Home</a>
    <a class="item" ui-sref-active="active" data-tab="faq" ui-sref="faq">FAQ</a>
    <!--<a class="item" ui-sref-active="active" data-tab="help" ui-sref="help">Help</a>-->
    <a class="item" ui-sref-active="active" data-tab="smartContract" ui-sref="smartContract">Smart Contract</a>
    <a class="item" ui-sref-active="active" data-tab="myAccount" ui-sref="myAccount">My Account</a>
    <!--
        <div id="loginButton" class="item right">
            <div class="right">
                <button ng-show="!gapi.login" class="tiny ui google plus button" ng-click="loginScope()">
                    &lt;!&ndash;<button ng-show="!gapi.login" class="tiny ui google plus button" ng-click="loginScope()" style="width: 16em">&ndash;&gt;
                    <i class="google icon"></i>
                    Login with Google
                </button>
                <button ng-show="gapi.login" class="tiny ui google plus button" ng-click="logout()">
                    &lt;!&ndash;<button ng-show="gapi.login" class="tiny ui google plus button" ng-click="logout()" style="width: 16em">&ndash;&gt;
                    <i class="google icon"></i>
                    Logout
                </button>
            </div>
        </div>
        -->
</div>
