<div class="ui inverted segment">

    <div class="ui inverted secondary menu">
        <div class="item">
            xEuro
        </div>
        <div class="item">
            stable token
        </div>
        <div class="item right" align="right">

            <button class="mini ui google plus button" ng-click="login()" ng-hide="googleUser">
                <i class="google plus icon"></i>
                Login with Google
            </button>

            <button class="mini ui google plus button" ng-click="logout()" ng-show="googleUser">
                <i class="google plus icon"></i>
                Logout
            </button>

        </div>
    </div>

</div>